
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay</h2>
<br />
<div style="background-color:bisque">
    denemeeeeee
</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ceylin</td>
        <td>Hoşseda</td>
        <td>Deneme</td>
        <td><a href="#" class="btn btn-success" style="background-color:forestgreen">Satışlar</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Kübra</td>
        <td>Bayram</td>
        <td>Deneme</td>
        <td><a href="#" class="btn btn-success" style="background-color:forestgreen">Satışlar</a></td>
    </tr>
</table>